<CPackWiXPatch>
    <CPackWiXFragment Id="CM_CP_lobby.comp_lobby.exe">
        <ServiceInstall
            Id="comp_lobby"
            Type="ownProcess"
            Name="comp_lobby"
            DisplayName="COMP_hack Lobby Server"
            Description="Lobby server (must be started first)"
            Start="auto"
            Account="[SERVICEACCOUNT]"
            Password="[SERVICEPASSWORD]"
            ErrorControl="normal">
             <ServiceDependency Id="LmHosts"/>
        </ServiceInstall>
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_FP_lobby.comp_lobby.exe">
        <FirewallException xmlns="http://schemas.microsoft.com/wix/FirewallExtension"
            Id="firewall_comp_lobby"
            Description="Firewall rule for the COMP_hack Lobby server."
            Name="COMP_hack Lobby Server"
            Profile="all"
            Scope="any"/>
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_CP_world.comp_world.exe">
        <ServiceInstall
            Id="comp_world"
            Type="ownProcess"
            Name="comp_world"
            DisplayName="COMP_hack World Server"
            Description="World server (must be started second)"
            Start="auto"
            Account="[SERVICEACCOUNT]"
            Password="[SERVICEPASSWORD]"
            ErrorControl="normal">
             <ServiceDependency Id="comp_lobby"/>
        </ServiceInstall>
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_FP_world.comp_world.exe">
        <FirewallException xmlns="http://schemas.microsoft.com/wix/FirewallExtension"
            Id="firewall_comp_world"
            Description="Firewall rule for the COMP_hack World server."
            Name="COMP_hack World Server"
            Profile="all"
            Scope="any"/>
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_CP_channel.comp_channel.exe">
        <ServiceInstall
            Id="comp_channel"
            Type="ownProcess"
            Name="comp_channel"
            DisplayName="COMP_hack Channel Server"
            Description="Channel server (must be started last)"
            Start="auto"
            Account="[SERVICEACCOUNT]"
            Password="[SERVICEPASSWORD]"
            ErrorControl="normal">
             <ServiceDependency Id="comp_world"/>
        </ServiceInstall>
        <!-- <ServiceControl Id="comp_channel" Start="install" Stop="both" Remove="uninstall" Name="comp_channel" Wait="yes"/> -->
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_FP_channel.comp_channel.exe">
        <FirewallException xmlns="http://schemas.microsoft.com/wix/FirewallExtension"
            Id="firewall_comp_channel"
            Description="Firewall rule for the COMP_hack Channel server."
            Name="COMP_hack Channel Server"
            Profile="all"
            Scope="any"/>
    </CPackWiXFragment>
</CPackWiXPatch>
