Source: comphack
Section: net
Priority: optional
Maintainer: COMP Omega <compomega@tutanota.com>
Build-Depends: debhelper (>= 9.20131213~), dpkg-dev (>= 1.16.1~), git, cmake (>= 3.5.0), build-essential, docbook-xsl, doxygen, texlive-font-utils, xmlto, libqt5webkit5-dev, libsystemd-dev, unzip
Standards-Version: 3.9.8
Homepage: https://github.com/comphack/comp_hack

Package: comphack
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: comphack-tools
Suggests: comphack-tools-qt, comphack-doc
Description: SMT Private Server

Package: comphack-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SMT Private Server Tools

Package: comphack-tools-qt
Architecture: any
Depends: libqt5gui5, libqt5widgets5, libqt5core5a, libqt5network5, libqt5xml5, ${misc:Depends}, ${shlibs:Depends}
Description: SMT Private Server Qt-based Tools

Package: comphack-doc
Architecture: any
Depends:
Description: SMT Private Server Documentation
