[Desktop Entry]
Name=COMP_hack Map Tool (Map)
Name[en_US]=COMP_hack Map Tool (Map)
GenericName=COMP_hack Map Tool (Map)
GenericName[en_US]=COMP_hack Map Tool (Map)
X-GNOME-FullName=COMP_hack Map Tool (Map)
X-GNOME-FullName[en_US]=COMP_hack Map Tool (Map)
Comment=COMP_hack Map Tool
Comment[en_US]=COMP_hack Map Tool
Exec=comp_map
StartupNotify=true
Terminal=false
Type=Application
Icon=comp_hack
Categories=GNOME;GTK;Game;
MimeType=text/xml;
